html,body{
    font-family: 'tt_firsregular';
}

h1,h2,h3,h4,h5,h6{
    font-family: 'tt_firsbold';
}

em{
   font-family: 'tt_firsitalic';
}

strong{
    font-family: 'tt_firsextrabold';
}

strong em{
    font-family: 'tt_firsextrabold_italic';
}

.description{
    min-height: 10em;
}

.list{
    border: 1px thin black;
    border-radius: 3%;
}
.little-up-top{
    margin-top: 1em;
}
.little-down-below{
    margin-top: 1em;
}
footer{
    font-family: 'tt_firslight';
}

a{
    cursor: pointer;
}

.social-share > div{
    margin-bottom: 1em;
}