html,body{
    font-family: 'tt_firsregular';
    background-color: #FFA754;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'tt_firsbold';
}

em{
   font-family: 'tt_firsitalic';
}

strong{
    font-family: 'tt_firsextrabold';
}

strong em{
    font-family: 'tt_firsextrabold_italic';
}

td{
    padding: 1em;
}

.description{
    min-height: 10em;
}

.list{
    border: 1px thin black;
    border-radius: 3%;
}
.little-up-top{
    margin-top: 1em;
}
.little-down-below{
    margin-top: 1em;
}

a{
    cursor: pointer;
}

.social-share > div{
    margin-bottom: 1em;
}

.detail{
    height: 100%;
}

.detailTitle{
    margin-top: 0px;
}

#detailMap{
    height: 13em;
    width: 13em;
}

header{
    background-color: #FF6900;
    height: 7em;
    margin-bottom: 3em;
}

footer{
    font-family: 'tt_firslight';
    height: 4em;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: #B25A1D;
    margin-top: 3em;
}