html,body{
    font-family: 'tt_firsregular';
    background-color: #EAFBFF;
    background-image: url(../images/cubes/60-lines.png);
}

h1,h2,h3,h4,h5,h6{
    font-family: 'tt_firsbold';
}

h1{
    font-size: 3em;
}

em{
   font-family: 'tt_firsitalic';
}

strong{
    font-family: 'tt_firsextrabold';
}

strong em{
    font-family: 'tt_firsextrabold_italic';
}

td{
    padding: 1em;
}

.ui{
    background-color: white;
    border-radius: 7px;
    box-shadow: 3px 3px 9px #4EC9EA;
}

.uibg{
    background-image: url(../images/lock.jpeg);
    background-position-x: 282px;
    background-repeat: no-repeat;
}

.marketing{
    font-size: 2.1em;
}

.zipFinder{
    width: auto;
    margin-bottom: 1em;
}

.zipFinder form{
    margin-left: -1em;
}

.zipFinder input[type='text']{
    width: 22em;
}

.distanceTable th{
    border: none;
    font-family: 'tt_firsextrabold';
}

.distanceTable td{
    background-color: rgba(255,255,255,0.5);
}

.little-up-top{
    margin-top: 1em;
}
.little-down-below{
    margin-top: 1em;
}

a, a:link, a:visited, a:active{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.locationTitle a, .locationLink{
    text-decoration: underline;
}

.social-share > div{
    margin-bottom: 1em;
}

.detail{
    height: 100%;
}

.detailTitle{
    margin-top: 1em;
}

.detailImage img{
    width: 100%;
}

#detailMap{
    float: right;
    background-color: #EAFBFF;
    padding: 1.5em;
    height: 23em;
    width: 23em;
}

.detail aside{
    padding-top: 1.5em;
}

.detailContact{
    padding-left: 2em;
}

.detail aside li{
    padding-left: 2em;
}


.lift-4{
    margin-top: -4em;
}

.lift-3{
    margin-top: -3em;
}

.lift-2{
    margin-top: -2em;
}

.lift-1{
    margin-top: -1em;
}

header{
    padding: 0;
}

footer{
    font-family: 'tt_firslight';
    padding: 1em;
    margin-top: 3em;
}

@media all and (max-device-width: 769px){
    .marketing{
        position: static;
    }
    .lift{
        margin-top: -0.5em;
    }
    .ui{
        box-shadow: none;
    }
}