<section class="container">
  <div class="detailText">
    <p><strong>Location:</strong>{{location.name}}</p>
    <p><strong>Phone:</strong>{{location.phone}}</p>
    <p>email: {{location.email}}</p>
    <p>FAX: {{location.fax}}</p>
    <p>After-Hours Phone: {{location.after_hours_phone}}</p>
    <p>Address: {{location.address1}} {{location.address2}}</p>
    <p>{{location.city}}, {{location.state}} {{location.zip}}</p>

    <p>{{location.hours}}</p>

    <p>{{location.driving_tip}}</p>
    <p>{{location.sizes}}</p>
     </div>
  <div class="detailImage">
    <img ng-src="images/{{location.name}}-little.jpg" />
  </div>
</section>