<div class="container detail">
  <h2 class="detailTitle"><strong>Location: </strong>{{location.name}} - {{location.city}}</h2>
  <aside class="col-sm-12 col-md-4 col-md-push-8">
    <h3>Contact: </h3>
    <div class="detailContact">
      <p><strong>Phone: </strong><a ng-href="tel:{{location.phone}}">{{location.phone}}</a></p>
      <p>email: {{location.email}}</p>
      <p>FAX: {{location.fax}}</p>
      <p>After-Hours Phone: {{location.after_hours_phone}}</p>
      <p>Address:</p>
      <p>{{location.address1}} {{location.address2}}</p>
      <p>{{location.city}}, {{location.state}} {{location.zip}}</p>
      <p ng-show="location.driving_tip != ''">Driving tip: {{location.driving_tip}}</p>
    </div>
    <ul>
      <h3>Other locations: </h3>
      <li ng-repeat="loc in locations">
        <a ui-sref="location({location:loc.id })">
          <span class="locationTitle">{{loc.name}} - {{loc.city}}</span>
          <span ng-if="loc.distanceToTravel" class="locationDistance"> - {{loc.distanceToTravel | number: 1}} miles</span>
        </a>
      </li>
    </ul>
  </aside>
  <section class="col-sm-12 col-md-8 col-md-pull-4">
    <div class="detailImage">
      <img ng-src="images/{{location.city}}-little.jpg" />
    </div>
    <h3 class="pull-left">Amenities: </h3>
    <div class="detail pull-right">
      <div class="detailAmenities col-sm-12 col-md-6">
        <p>{{location.amenities}}</p>
        <p>{{location.sizes.join(' ')}}</p>
        <h3>Office hours: </h3>
        <p ng-repeat="(key,value) in location.office.hours">{{key}}: {{value}}</p>
      </div>

      <div id="detailMap" class="col-sm-12 col-md-4 lift-4">
        <map center="-34.397, 150.644" zoom="8"></map>
      </div>
    </div>
  </section>
</div>