<div class="uibg">
<section class="marketing">
  <article class="marketingPhone">
    <h2>1-262-547-8989</h2>
  </article>
  <article class="marketingVerbiage">
    <p>Visa & MasterCard Accepted</p>
    <p>Locally Owned and Operated</p>
    <p>Let us help you with your storage needs!</p>
    <p>Clean - Gated - Low Prices</p>
    <p>Click on a location below that will best suit your needs</p>
  </article>
</section>
<section class="distanceTable little-up-top">
  <div class="zipFinder container">
    <form>
      <input type="text" placeholder="zip code" name="zip" id="zip"/>
      <button id="zipButton" ng-click="getDistances()">go</button>
    </form>
  </div>
  <table>
    <thead>
      <th>Name</th>
      <th>City</th>
      <th ng-show="locations[0].distanceToTravel">distance</th>
      <th ng-show="locations[0].distanceToTravel">estimated travel time</th>
    </thead>
    <tr ng-repeat="loc in locations | orderBy: -loc.distanceToTravel">
      <td class="locationTitle">
        <a ui-sref="location({location:loc.id })">
          <span>{{loc.name}} </span>
        </a>
      </td>
      <td class="locationPhone">{{loc.city}}</td>
      <td ng-show="locations[0].distanceToTravel" class="locationDistance">{{loc.distanceToTravel | number: 2}} miles</td>
      <td ng-show="locations[0].distanceToTravel" class="locationTimeAway">{{loc.timeToTravel | number: 2}} minutes</td>
    </tr>
  </table>
</section>
</div>
<div id="map"></div>